.update-movies-container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 60vw;
    background-color: aliceblue;
}
.update-movie-form {
    background-color: darkcyan;
    box-shadow: 0px 20px 10px lightgray, 0px 0 10px 10px lightgray;
    width: 30vw;
    border-radius: 40px;
    margin: 30px 0;
}

.update-movie {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

label {
    padding: 20px 0px;
    font-size: 30px;
    font-weight: bold;
}

input[type="text"], textarea {
    border: none;
    border-radius: 10px;
    width: 80%;
    padding: 10px 80px 10px 20px;
}

input:focus-visible {
    outline: none
}
.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

button{
    padding: 10px 20px;
    background-color: darkmagenta;
    border: none;
    border-radius: 10px;
    transition: all 0.2s linear 0.1s;
}

button:hover{
    background-color: magenta;
}
textarea:focus-visible{
    outline: none;
}
select{
    padding: 10px 20px;
    border-radius: 10px;
}